<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inköpslistan.nu</title>
    <link rel="icon" href="~/banan.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/53c6caddf7.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary navbar-dark border-bottom box-shadow mb-3 sticky-top">
        <div class="container font-weight-bold bg-primary">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Inköpslistan.nu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn text-white border-light" style="background-color: #1350CA;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Färdiga Listor
                            </button>
                            <div class="dropdown-menu bg-primary ">
                                <a class="dropdown-item bg-primary text-white border-bottom  " asp-area="" asp-page="/VarorModels/ListHungry">Fruktsallad för den hungrige</a>
                                <a class="dropdown-item bg-primary text-white" asp-area="" asp-page="/VarorModels/ListCitrus">Älska Citrus!</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-white border-light" style="background-color: #1350CA;" asp-area="" asp-page="/VarorModels/List">Min Inköpslista</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />

        <footer>
            <vc:varor-count></vc:varor-count>
            @RenderSection("footer", required: false)
            <p>&copy; 2019 - Inköpslistan.nu</p>
            @*<img src="~/ripstigen.jpg" width="60" />*@
        </footer>
    </div>


    @section scripts {
      
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        
    }

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
