@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Inköpslistan.nu!</h1>
    <div class="card-text">
        <p>Perfekt för dig som vill ordna en fruktsallad till dina vänner!</p>
    </div>
    <a class="btn btn-dark" asp-page="VarorModels/List">Starta här!</a>
</div>
