@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner bg-overlay">
            <div class="carousel-item active carouselImg bg-overlay">
                <img class="d-block w-100" src="~/img/45.jpg" alt="First slide">
                <div class="carousel-caption d-lg-block">
                    <h1 class="btn btn-primary font-weight-bolder">Välkommen till Inköpslistan.nu!</h1>
                    <div class="overlaytext">
                        <h3>Perfekt för dig som vill ordna en fruktsallad till dina vänner!</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item carouselImg">
                <img class="d-block w-100" src="~/img/46.jpg" alt="Second slide">
                <div class="carousel-caption d-lg-block">
                    <h1 class="btn btn-primary font-weight-bolder">Välkommen till Inköpslistan.nu!</h1>
                    <div class="overlaytext">
                        <h3>Perfekt för dig som vill ordna en fruktsallad till dina vänner!</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item carouselImg">
                <img class="d-block w-100" src="~/img/1.jpg" alt="Third slide">
                <div class="carousel-caption d-lg-block">
                    <h1 class="btn btn-primary font-weight-bolder">Välkommen till Inköpslistan.nu!</h1>
                    <div class="overlaytext">
                        <h3>Perfekt för dig som vill ordna en fruktsallad till dina vänner!</h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<div class="text-center">
<br />
    <a class="btn btn-dark btn-lg" asp-page="VarorModels/List">Starta här!</a>
</div>
