@page
@model WebApplicationASP.Pages.TennisModel
@using WebApplicationASP.Components
@{
    ViewData["Title"] = "Tennis";
}

<h1>Tennis</h1>

@(await Html.RenderComponentAsync<ProductList>
    (RenderMode.ServerPrerendered))

    <script src="_framework/blazor.server.js"></script>
